*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.classpath
.gradle/2.2.1/taskArtifacts/cache.properties
*.lock
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
*.bin
.gradle/2.5/taskArtifacts/cache.properties
*.project
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
*.prefs
bin/org/gradle/resource.xml
*.xml
build/reports/tests/index.html
*.css
*.js
build/reports/tests/classes/org.gradle.TreeTest.html
*.html
*.idx
build/tmp/jar/MANIFEST.MF
build/tmp/test/jar_extract_4820163178323379557_tmp
build/tmp/test/jar_extract_5175875274247008264_tmp
*.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.lst
target/surefire-reports/org.gradle.TreeTest.txt
/build/
